@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --base-clr: #121212;               /* main background, dark black/grey */
    --line-clr: #2a2a2a;               /* borders / dividers */
    --hover-clr: #1e1e1e;              /* hover for cards, sidebar, buttons */
    --text-clr: #e0e0e0;               /* main text */
    --accent-clr: #831dff;             /* small pop for links/buttons */
    --secondary-text-clr: #a0a0a0;     /* secondary text / placeholders */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Poppins, "Segoe UI", sans-serif;
    color: var(--text-clr);
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
}
main{
    padding: min(5em, 7%);
}
main p{
    margin-top: .35em;
}
nav{
    background-color: var(--base-clr);
    border-bottom: 1px solid var(--line-clr);
}
nav ul{
    list-style: none;
    display: flex;
}
nav .home-li{
   margin-right: auto; 
}
nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-clr);
    padding: 1em 2em;
    transition: background-color 150ms ease;
}
nav a:hover{
    background-color: var(--hover-clr)
}
nav a.active-link{
    border-bottom: 2px solid var(--text-clr);
}
nav a.accent-link{
    background-color: var(--accent-clr);
}
nav li{
    display: flex;
}
@media screen and (max-width: 700px){
   nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-clr);
    transition: right 300ms ease-out;
   } 
   nav ul{
    width: 100%;
    flex-direction: column;
   }
   nav a.active-link{
    border-bottom: none;
   }
   nav .home-li{
    margin-right: unset;
   }
   nav a{
    width: 100%;
    padding-left: 2.5em;
   }
   nav.show{
    right: 0;
   }
}
#open-sidebar-button{
    display: block;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}
#close-sidebar-button{
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
