@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
     --base-clr: #121212;               /* main background, dark black/grey */
    --line-clr: #2a2a2a;               /* borders / dividers */
    --hover-clr: #1e1e1e;              /* hover for cards, sidebar, buttons */
    --text-clr: #e0e0e0;               /* main text */
    --accent-clr: #bb86fc;             /* small pop for links/buttons */
    --secondary-text-clr: #a0a0a0;     
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}
#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}
#sidebar.close{
    padding: 5px;
    width: 60px;
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;

    }
}
#sidebar ul li.active a{
    color: var(--accent-clr);


    svg{
        fill: var(--accent-clr);
    }
}
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--hover-clr);
}
#sidebar .submenu{
  display: grid;  
  grid-template-rows: 0fr;
   transition: 300ms ease-in-out;

   > div{
    overflow: hidden;
   }
}
#sidebar .submenu.show{
    grid-template-rows: 1fr; 
}
.rotate svg:last-child{
    rotate: -180deg;
}
.dropdown-btn svg{
    transition: 200ms ease;
}
#sidebar .submenu{
    padding-left: 2em;
}
#Toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background:none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}
#Toggle-btn:hover{
    background-color: var(--hover-clr);
}
@media(max-width:800px){
    body{
        grid-template-columns: 1fr;
    }
    .container{
        border: none;
        padding: 0;
    }
    #sidebar{
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        ul li span, ul li:first-child, .dropdown-btn svg:last-child{
            display: none;
        }
        > ul{
            padding: 0;
        }
    }
}