@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --base-clr: #121212;               /* main background, dark black/grey */
    --line-clr: #2a2a2a;               /* borders / dividers */
    --hover-clr: #1e1e1e;              /* hover for cards, sidebar, buttons */
    --text-clr: #e0e0e0;               /* main text */
    --accent-clr: #831dff;             /* small pop for links/buttons */
    --secondary-text-clr: #a0a0a0;     /* secondary text / placeholders */
}
*{
    margin: 0;
    padding: 0;
} 
html{
    font-family: Poppins, Segoe UI, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12pt;
    color: var(--text-clr);
    text-align: center;
    scroll-behavior: smooth;
}
.team-heading{
    font-size: 30px;
    line-height: 1.6;
    color: var(--text-clr);
    text-align: center;
    border: 2px solid var(--line-clr);
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em auto;
    width: max(40%, 600px);
}
.os-members{
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-clr);
    text-align: center;
    border: 2px solid var(--line-clr);
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em auto;
    width: max(40%, 600px);
}
.exec-team{
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-clr);
    text-align: center;
    border: 2px solid var(--line-clr);
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em auto;
    width: max(40%, 600px);
}
.staff-members{
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-clr);
    text-align: center;
    border: 2px solid var(--line-clr);
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em auto;
    width: max(40%, 600px);
}
.member{
    border: 2px solid var(--line-clr);
    border-radius: 20px;
    padding: 0.5em;
    margin: 1em auto;
    width: max(30%, 400px);
}
.member-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em; 
    align-items: right;
}