@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
    --base-clr: #121212;               /* main background, dark black/grey */
    --line-clr: #2a2a2a;               /* borders / dividers */
    --hover-clr: #1e1e1e;              /* hover for cards, sidebar, buttons */
    --text-clr: #e0e0e0;               /* main text */
    --accent-clr: #831dff;             /* small pop for links/buttons */
    --secondary-text-clr: #a0a0a0;     /* secondary text / placeholders */
    --border-clr: white;
}

#Testimonies-page-top-txt{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    font-family: poppins, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-clr);
}
#question-txt{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    font-family: inherit;
    color: var(--secondary-text-clr);
}
#customer1-user{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    font: inherit;
    color: var(--text-clr);
}
#customer2-user{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    font: inherit;
    color: var(--text-clr);
}
#customer1-statement{
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    font: inherit;
    color: var(--secondary-text-clr);
}
#customer2-statement{
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    font: inherit;
    color: var(--secondary-text-clr);
}
.customer1{
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--line-clr);
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.customer2{
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--line-clr);
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}